{% extends "assets/base_pages/auth_base.html" %}

{% set title = "Unauthorized" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ title }}</h3>
                </div>
                <div class="panel-body">
                    <h1>403</h1>
                    <h5>{{ title }}</h5>
                    <h6>You do not have permission to view that page.</h6>
                    <div class="btn_cmpted home-btn">
                        <a href="{{ url_for('main.index') }}" title="Home">Go To Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}